{% extends 'base.html' %}

{% block body %}
<div class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2 class="title is-italic has-text-centered mt-5">
              Ninguém nasce ensinado: todos temos que aprender a "andar" e só aprendemos dando os "primeiros passos".
            </h2>
            <p class="subtitle is-4 mt-5 mb-5">Mestre bacalhau</p>
            <p class="subtitle is-6">Professor Bacalhal</p>
            <p>
              É um português que mora no Brasil há mais de 20 anos. É professor de tecnologia da informação com especialidade em sistemas de informação.
            </p>
            <p>
              Nascido em Lisboa, Portugal, em 1970, Professor Bacalhal sempre foi apaixonado por tecnologia. Ele começou a estudar computação na Universidade de Lisboa, onde se formou em 1979.
            </p>
            <p>
              Em 1997, Professor Bacalhal mudou-se para o Brasil para trabalhar como professor na Universidade Federal de Rondônia. Ele também é pesquisador do Instituto de Tecnologia da Universidade Federal de Rondônia.
            </p>
            <p>
              Professor Bacalhal é um professor dedicado e apaixonado pelo seu trabalho. Ele é conhecido por sua didática clara e acessível. Seus alunos o admiram por sua competência e por sua capacidade de transmitir conhecimento de forma estimulante.
            </p>
            <p>
              Em 2022, foi criado um site em homenagem a Professor Bacalhal, chamado Comunidade Bacalhal. O site é um espaço para compartilhar informações e experiências relacionadas à tecnologia da informação.
            </p>
            <p>
              Professor Bacalhal é um profissional de destaque na área de tecnologia da informação. Ele é um exemplo de como a educação e a dedicação podem levar a uma carreira de sucesso.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock body %}


