

{%block form_edit_profile %}

{% if display_modal %}
    <script>
        $(document).ready(function() {
            $('#modal-edit-profile').modal('show');
        });
    </script>
{% endif %}

<!--Modal de editar perfil-->
<div id="modal-edit-profile" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Editar Perfil</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
            <form method="POST" action="" class="box" enctype="multipart/form-data">
                {{ form_edit_profile.csrf_token }}
                <article class="media">
                    <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="{{profile_picture}}">
                    </p>
                    </figure>
                </article>
                    <h5 class="title is-5 mt-1">Editar Perfil</h5>
                    <div class="field">
                        <p class="control ">
                            {{ form_edit_profile.username.label(class='control has-text-grey') }}
                            {% if form_edit_profile.username.errors %}
                                {{ form_edit_profile.username(class='input is-link') }}
                            <div class="help is-danger">
                                {% for erro in form_edit_profile.username.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_edit_profile.username(class='input is-primary',type='user', placeholder='@oezios') }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            {{ form_edit_profile.email.label(class='control has-text-grey') }}
                            {% if form_edit_profile.email.errors %}
                                {{ form_edit_profile.email(class='input is-info notification is-danger') }}
                            <div class="help is-danger">
                                {% for erro in form_edit_profile.email.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_edit_profile.email(class='input is-primary',type='email', placeholder='oezios@gmail.com') }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            {{ form_edit_profile.profile_picture.label(class='file is-primary has-name file-label') }}
                            {{ form_edit_profile.profile_picture(class='file-js-example') }}
                            {% if form_edit_profile.profile_picture.errors %}
                                    {% for erro in form_edit_profile.profile_picture.errors %}
                                        <span class="help is-danger">{{ erro }}</span> <br>
                                    {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                <p class="control">
                {{ form_edit_profile.button_submit_edit_profile(class="button is-primary is-outline mt-2") }}
                </p>
            </form>
      </section>
    </div>
</div>


{% endblock form_edit_profile %}