{% extends 'base.html' %}


{% block body %}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <p class="title is-3">
                  Olá Sr.(a) {{current_user.username}}, Bem-vindo(a)!
                </p>
                <p class="subtitle mt-3 ">
                  A <strong>Comunidade Bacalhau </strong> website!
                </p>
            </div>
            <div class="column is-4">
              <form action="" method="get">
                <div class="field has-addons">
                  <div class="control">
                    <input class="input" type="text" name="q" placeholder="Postagens...">
                  </div>
                  <div class="control">
                    <a class="button is-primary" type="submit">
                      <i class="fa fa-search"> Buscar</i>
                    </a>
                  </div>
                </div>
              </form>
            </div>
        </div>
  </div>
</div>
<div class="section">
    <div class="container">
        <p class="subtitle is-5">Postagens</p>
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-parent">
            {% for post in posts.items %}
            <div class="tile is-child box">
                <div class="card-image">
                  <figure class="image is-480x320">
                    <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src=" {{ url_for('static', filename='fotos_perfil/{}'.format(post.author.profile_picture)) }}" alt="foto do perfil do usuario">
                      </figure>
                    </div>
                    <div class="media-content mt-4">
                      <p class="title is-4">{{post.author.username}}</p>
                      <p class="subtitle is-6 has-text-gray">{{post.author.email}}</p>
                    </div>
                  </div>

                  <div class="content mt-2">
                      <!-- link display_post view do post-->
                      <a href="{{url_for('display_post', post_id=post.id)}}"><p class="subtitle is-6 mb-2 has-text-link">{{ post.title}}</p></a>
                    <p>{{ post.content }}<br><a>@comunidade bacalhau </a>
                        <a href="https://bulma.io">#Bulma</a> <a href="https://flask.palletsprojects.com/en/3.0.x/">#flask</a>
                        <a href="https://www.python.org/">#python</a> </p>
                    <time datetime="2016-1-1">{{post.created_at.strftime('%Y-%m-%d %H:%M:%S')}}</time>
                  </div>

                  <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                        Share on <a href="#" class="has-text-link-dark">WhatsApp</a>
                      </span>
                    </p>
                    <p class="card-footer-item">
                      <span>
                        Share on <a href="#" class="has-text-link-dark">Facebook</a>
                      </span>
                    </p>
                  </footer>
                </div>
              </div>
            {% endfor %}
            <!--paginação do site -->
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
                  {% if page_num %}
                      <ul class="pagination-list">
                        {% if page_num == posts.page %}
                        <li><a class="pagination-link is-current" href="{{ url_for('home', page=page_num) }}">{{page_num}}</a></li>
                        {% else %}
                          <li><a class="pagination-link" href="{{ url_for('home', page=page_num) }}">{{page_num}}</a></li>
                    
                        {% endif %} 
                  
                  {% else %}    
                  <li><span class="pagination-ellipsis">&hellip;</span></li>
                      </ul>
                  {% endif %}
                {% endfor %}      
              </nav>
          </div>

          <div class="tile is-4 is-parent" >
            <div class="tile is-child box " id="divContent">
                <p class="subtitle is-5">Últimas postagens</p>
              {% for post in posts %}
                  <article class="media">
                      <div class="media-left">
                          <figure class="image is-48x48">
                            <img src=" {{ url_for('static', filename='fotos_perfil/{}'.format(post.author.profile_picture)) }}" alt="foto do perfil do usuario">
                          </figure>
                      </div>
                      <div class="media-content">
                        <small><strong>{{ post.author.username }}</strong></small><br>
                          <div class="content">
                              <div class="buttons are-small">
                                <a><button class="m-1 button is-primary">{{ post.author.count_posts() }} Posts</button></a>
                                <a><button class="m-1 button is-primary">{{ post.author.count_courses() }} Cursos</button></a>
                              </div>
                              <div class="content mt-2">
                                  <!--link display post visualizar o post-->
                                <a href="{{url_for('display_post', post_id=post.id)}}"><p class="subtitle is-6 mb-2 has-text-link">{{ post.title}}</p></a>
                                <a>@comunidade bacalhau.</a><br>
                                <a href="https://bulma.io">#Bulma</a> <a href="https://flask.palletsprojects.com/en/3.0.x/">#flask</a>
                                <a href="https://www.python.org/">#python</a><br>
                                <time datetime="2016-1-1">{{post.created_at.strftime('%Y-%m-%d %H:%M:%S')}}</time>
                              </div>
                          </div>
                          <nav class="level is-mobile">
                              <div class="level-left">
                                  <a class="level-item" aria-label="reply">
                                      <span class="icon is-small"> <i class="fas fa-reply"></i> </span>
                                  </a>
                                  <a class="level-item" aria-label="retweet">
                                      <span class="icon is-small"> <i class="fas fa-retweet"></i> </span>
                                  </a>
                                  <a class="level-item" aria-label="like">
                                      <span class="icon is-small"> <i class="fas fa-heart"></i> </span>
                                  </a>
                              </div>
                          </nav>
                      </div>
                  </article>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock body %}