{% extends 'base.html' %}

{% block body %}
<div class="section">
    <div class="container">
        <p class="title is-4 ">Comunidade Bacalhau</p>
        <p class="subtitle is-5 mt-3">Visualizar post</p>
        
        {% if current_user == post.author %}
        <button class="js-modal-trigger is-warning button is-small mb-1" data-target="modal-js-example">
            Editar
        </button>
        <button class="js-modal-trigger is-danger button is-small mb-1" data-target="modal-js-delete">
            Excluir
        </button>
        {% endif %}
        
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div class="card-image">
                    <figure class="image is-480x320">
                    <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
                    </figure>
                </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                <img src=" {{ url_for('static', filename='fotos_perfil/{}'.format(post.author.profile_picture)) }}" alt="foto do perfil do usuario">
                                </figure>
                            </div>
                            <div class="media-content mt-4">
                                <p class="title is-4">{{post.author.username}}</p>
                                <p class="subtitle is-6 has-text-gray">{{post.author.email}}</p>
                            </div>
                        </div>

                        <div class="content mt-2">
                            <p class="subtitle mb-2 is-6">{{ post.title}}</p>
                            <p>{{ post.content }}<br><a>#comunidadeBacalhau </a>
                                <a href="https://bulma.io">#Bulma</a> <a href="https://flask.palletsprojects.com/en/3.0.x/">#flask</a>
                                <a href="https://www.python.org/">#python</a> </p>
                            <time datetime="2016-1-1">{{post.created_at.strftime('%Y-%m-%d %H:%M:%S')}}</time>

                        </div>

                        <footer class="card-footer ">
                            <p class="card-footer-item">
                                <span>
                                Share on <a href="#">WhatsApp</a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                Share on <a href="#">Facebook</a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                to go back <a href="{{ url_for('home') }}"> Home</a>
                                </span>
                            </p>
                        </footer>
                    </div>
            </div>     
        </div>
    </div>
</div>

{% block form_edit %}
    
    {% include 'edit_post.html' %}
    {% include 'delete_post.html' %}

{% endblock form_edit %}

{% endblock body %}