
{% extends 'base.html' %}


{% block body %}
<div class="hero">
    <div class="hero-body">
        <div class="container box">
            <div class="media-content">
              <article class="media">
                  <figure class="media-left">
                    <p class="image is-64x64">
                      <img src="{{profile_picture}}">
                    </p>
                  </figure>
                  <p><strong>{{current_user.username}}</strong> <br>
                        <small>E-mail: <strong>{{current_user.email }}</strong></small>
                  </p>
              </article>
            </div>
            <div class="content mt-2">
                <div class="columns">
                    <div class="column">
                        <div class="buttons are-small mt-5">
                            <a href="{{url_for('courses')}}"><button class=" m-1 button is-link is-light is-outlined">
                              {{current_user.courses.count('{{current_user.courses}}')}}</button>Cursos</a>
                            <a href="{{url_for('create_post')}}"> <button class=" m-1 button is-link is-light is-outlined">
                              {{current_user.posts.count('{{current_user.posts}}')}}</button>Posts</a>
                            <a href="{{url_for('edit_profile')}}"> <button class=" m-1 button is-link is-light is-outlined">
                              Editar perfil</button></a>
                        </div>
                    </div>
                </div>
                <h5 class="title is-5 mt-1">Sobre mim</h5>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                </p>
            </div>

            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
            </nav>
        </div>
    </div>
</div>
<!--
<script>
  const fileInput = document.querySelector('file-js-example input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('file-js-example .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>
-->
{% block edit_profile %}{% endblock edit_profile %}

{% endblock body %}
