
{% extends 'base.html' %}

{% block body %}
<div class="hero">
    <div class="hero-body">
        <div class="container box">
          <h2 class="subtitle">Perfil</h2>
            <div class="media-content">
              <article class="media">
                  <figure class="media-left">
                    <p class="image is-64x64">
                      <img src="{{profile_picture}}">
                    </p>
                  </figure>
                  <p><strong>{{current_user.username}}</strong> <br>
                        <small>E-mail: <strong>{{current_user.email }}</strong></small>
                  </p>
              </article>
            </div>
            <div class="content mt-2">
                <div class="columns">
                    <div class="column">
                        <div class="buttons are-small mt-5">
                            <a href="{{url_for('courses')}}"><button class=" m-1 button is-primary">
                              {{current_user.count_courses()}} Cursos</button></a>
                            <a href="{{url_for('create_post')}}"> <button class=" m-1 button is-primary">
                              {{current_user.count_posts()}} Posts</button></a>
                              
                            <a href="{{url_for('edit_profile' )}}"> <button class=" js-modal-trigger m-1 button is-warning" 
                              data-target="modal-edit-profile">Editar perfil</button></a>
                        </div>
                    </div>
                </div>
                <h5 class="title is-5 mt-1">Sobre mim</h5>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                </p>
            </div>

            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
            </nav>
        </div>
    </div>
</div>

{% include 'edit_profile.html'%} 

{% endblock body %}
